<div class="card">
  <div class="card-header">
    <h1>Edit Experiment <%= @experiment.experiment_id %></h1>
  </div>
  <div class="card-body">
    <%= render 'form', experiment: @experiment %>
  </div>
</div>


<!--
<%= link_to 'Show', @experiment %> |
<%= link_to 'Back', experiments_path %>
-->
